
<div class="page-content" id="home">

  <div class="h-v white row-col home-bg">
    <div class="row-cell v-b">
      <div class="container p-y-lg pos-rlt">
        <h1 class="display-3 _700 l-s-n-3x m-t-lg m-b-md">Choose <span class="text-primary">your</span> night</h1>
        <h5 class="text-muted m-b-lg"><span class="label accent">Knox</span> makes it easier to organise your spontanious night out</h5>
        <a href="#demos" ui-scroll-to="features" class="btn btn-lg btn-outline b-primary text-primary b-2x">Download Now</a>
      </div>
    </div>
  </div>

  <div class="p-y-lg" id="features">
    <div class="container p-y-lg text-primary-hover">
      <div class="text-center">
      <h2 class=" _700 l-s-n-1x m-b-md"><span class="text-primary">Features</span></h2>
      <h5 class="text-muted m-b-lg">Knox does all this and more!</h5>
      </div
      <div class="row m-l-g">
          <div class="col-sm-4 feaArea3">
              <div class="row">
                  <div class="textbox text-right wow fadeInLeft animated" data-wow-duration="700ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 700ms; animation-delay: 300ms; animation-name: fadeInLeft;">
                      <i class="text-primary knox-ticket" style="font-size:64px;"></i>
                      <h5>We hate booking fees</h5>
                      <p>
                          Booking fees suck, so we don't add any when you're buying a ticket from Knox.
                      </p>
                      <a href="#" class="comonLInk">View More <i class="fa fa-long-arrow-right"></i></a>
                  </div>
                  <div class="textbox text-right wow fadeInLeft animated" data-wow-duration="700ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 700ms; animation-delay: 300ms; animation-name: fadeInLeft;">
                      <i class="text-primary knox-clothes-hanger" style="font-size:64px;"></i>
                      <h5>Hassle-free cloakrooms</h5>
                      <p>
                          With Knox you can purchase your cloakroom ticket directly through the app. Adios raffle ticket!
                      </p>
                      <a href="#" class="comonLInk">View More <i class="fa fa-long-arrow-right"></i></a>
                  </div>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="ImgDiv wow fadeInUp animated" data-wow-duration="700ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 700ms; animation-delay: 300ms; animation-name: fadeInUp;">
                  <img src="../assets/images/knox-home/iphone.png" alt="">
              </div>
          </div>
          <div class="col-sm-4 feaArea3">
              <div class="row">
                  <div class="textbox wow fadeInRight animated" data-wow-duration="700ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 700ms; animation-delay: 300ms; animation-name: fadeInRight;">
                      <i class="text-primary knox-idea" style="font-size:64px;"></i>
                      <h5>Never leave the house without the WolfPack</h5>
                      <p>
                          We know organising outings with friends can be a pain; not anymore with our WolfPack feature.
                      </p>
                      <a href="#" class="comonLInk">View More <i class="fa fa-long-arrow-right"></i></a>
                  </div>
                  <div class="textbox wow fadeInRight animated" data-wow-duration="700ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 700ms; animation-delay: 300ms; animation-name: fadeInRight;">
                      <i class="text-primary knox-map" style="font-size:64px;"></i>
                      <h5>Local partying made easier</h5>
                      <p>
                          Never find yourself not knowing what's around you. Knows let's you easily browse parties and venues around you.
                      </p>
                      <a href="#" class="comonLInk">View More <i class="fa fa-long-arrow-right"></i></a>
                  </div>
              </div>
          </div>
      </div>
      <h5 class="m-y-lg text-muted text-center">Get the app here!</h5>
    </div>
  </div>

</div>